* {
    margin: 0;
    padding: 0;
  }
  
.results-in{
    width: 100%;
    height: 100%;
    background-color: rgba(50, 80, 6, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.results-in-sub{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.results-img{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 255, 26, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}
.results-video{
    width: 45%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    margin: 0;
    padding: 0;
    border-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.results-video iframe{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(240, 248, 255, 0);
    object-fit: cover;
}

.tweet-name{
    height: 20%;
    width: 100%;
    color: rgb(172, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}
.results-img img{
    width: 100%;
    height: 50%;
    background-color: rgba(9, 125, 175, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.results-options{
    width: 100%;
    height: 30%;
    background-color: rgba(175, 9, 125, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.results-options-in{
    width: 100%;
    height: 100%;
    background-color: rgba(175, 9, 9, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0);
}
.buttons{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0);
}

.tweet-name h4{
    width: 30%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 255, 255, 0);
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
}
.tweet-name a{
    background-color: rgba(0, 255, 30, 0);
    color: rgb(255, 5, 213);
    font-size: 1.5vw;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    text-decoration: underline;
}
.tweet-name p{
    text-align: center;
}
.processing-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.procesing-in{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1.5rem;
}
.loading{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: rgba(240, 255, 255, 0);
    color:white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#load {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    left:50%;
    top:40%;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
  }
  
  #load div {
    position:absolute;
    
    width:20px;
    height:36px;
    
    width: 40%;
    height: 40%;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:white;
    
  }
  
  #load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
  }
  #load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
  }
  #load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
  }
  #load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
  }
  #load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
  }
  #load div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
  }
  
  @keyframes move {
    0% {
      left:0;
      opacity:0;
    }
      35% {
          left: 41%; 
          -moz-transform:rotate(0deg);
          -webkit-transform:rotate(0deg);
          -o-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%; 
          -moz-transform:rotate(0deg); 
          -webkit-transform:rotate(0deg); 
          -o-transform:rotate(0deg);
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%; 
          -moz-transform:rotate(-180deg); 
          -webkit-transform:rotate(-180deg); 
          -o-transform:rotate(-180deg); 
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
  @-moz-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -moz-transform:rotate(0deg); 
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%; 
          -moz-transform:rotate(0deg); 
          transform:rotate(0deg);
          opacity:1;
      }
      100% {
          left:100%; 
          -moz-transform:rotate(-180deg); 
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
  @-webkit-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -webkit-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          -webkit-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%;
          -webkit-transform:rotate(-180deg); 
          transform:rotate(-180deg); 
          opacity:0;
      }
  }
  
  @-o-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -o-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          -o-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%; 
          -o-transform:rotate(-180deg); 
          transform:rotate(-180deg); 
          opacity:0;
      }
  }


.failed{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.failed h3{
    width: 100%;
    height: 100%;
    color:white;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text p{
    width: 100%;
    height: auto;
    font-size: 1rem;
    text-align: left;
    color: white;
}